.stat-block {
    padding: 7px 0 1px 10px;
    background-color: whitesmoke;
    margin-bottom: 7px;
    border-radius: 8px;
}

@media (min-width: 576px) {
    .col-sm-6.half-left {
        padding-right: 7px;
    }

    .col-sm-6.half-right {
        padding-left: 0;
    }
}

#molagora-block {
    padding: 18px 0 1px 0px;
    background-color: whitesmoke;
    margin-bottom: 7px;
    border-radius: 8px;
}

.mola-skill-label h5 {
    font-size: 1.2rem;
}

#damage-block {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 1000;
    padding: 5px 5px 0 5px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}

.buff-block {
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.buff-block > label {
    margin: 4px;
}

.custom-range::-webkit-slider-thumb {
    width: 1.1rem;
    height: 1.1rem;
    margin-top: -0.3rem;
    background-color: dimgrey;
}

span[id$="-val"] {
    font-weight: bold;
}

.page-footer {
    border-top: 1px solid lightgrey;
    font-size: 0.9rem;
}

.page-footer h5 {
    font-size: 1.15rem;
}

.molagora-badge > .badge {
    margin-top: 4px;
}

div.dropdown-menu.show {
    z-index: 1200;
}

.buff-block img {
    margin-bottom: 2px;
}

#flags {
    text-align: right;
}

#flags button {
    margin-top: 9px
}

#damage-comparison {
    line-height: 22px;
}

body .popover {
    max-width: 500px;
}

.btn.btn-light {
    border-color: #cacbcc;
}

/* Dark Theme */

[data-theme="dark"] {
    background-color: #111 !important;
    color: #ddd;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}

[data-theme="dark"] .navbar-light .navbar-brand,
[data-theme="dark"] .navbar-light .navbar-nav .nav-link:hover,
[data-theme="dark"] .dropdown-item,
[data-theme="dark"] .close,
[data-theme="dark"] .popover-body {
    color: #eee;
}

[data-theme="dark"] .navbar-light .navbar-nav .nav-link {
    color: #bbb;
}

[data-theme="dark"] .text-muted {
    color: #bbb !important;
}

[data-theme="dark"] .stat-block, [data-theme="dark"] #molagora-block, [data-theme="dark"] #damage-block {
    background-color: #333;
}

[data-theme="dark"] .custom-range::-webkit-slider-thumb {
    background-color: #bbb;
}

[data-theme="dark"] .custom-range::-webkit-slider-runnable-track {
    background-color: #555;
}

[data-theme="dark"] .form-control {
    background-color: #555;
    color: #eee;
}

[data-theme="dark"] .table td {
    color: #eee;
}

[data-theme="dark"] .btn-light,
[data-theme="dark"] .dropdown-menu.show,
[data-theme="dark"] .card-header,
[data-theme="dark"] .popover-header {
    background-color: #333;
    color: #eee;
}

[data-theme="dark"] .badge-light {
    background-color: #222;
    color: #eee;
}

[data-theme="dark"] .popover {
    background-color: #333;
    color: #eee;
    border-color: #ccc;
}

[data-theme="dark"] .popover .arrow:after {
    border-top-color: #555;
}

[data-theme="dark"] .dropdown-item:hover {
    color: #333;
}

[data-theme="dark"] li.disabled .dropdown-item {
    color: #777;
}

[data-theme="dark"] .modal-content, [data-theme="dark"] .popover-body, [data-theme="dark"] .card-body {
    background-color: #555;
}
